# compiled output
**/dist
/tmp
storybook-static

# IDEs and editors
.idea
.project
nbproject/

# Logs files
*.log

# Dependency directories
node_modules/

# System Files
.DS_Store
Thumbs.db