:host {
  --flist-button-color: rgba(0, 20, 0, 1);
  --flist-button-bg-color: inherit;
  --flist-button-border-color: #cecece;
  --flist-button-font-family: inherit;
  --flist-button-font-weight: inherit;
  --flist-button-font-size: 1rem;
  --flist-button-cursor: pointer;

  display: inline-flex;
  font-family: inherit;
  font-size: var(--flist-button-font-size);
  color: var(--flist-button-color);
  border: none !important;
  border-radius: 4px;
  padding: 0 !important;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--flist-button-font-family);
  font-weight: var(--flist-button-font-weight);
  font-size: var(--flist-button-font-size);
  color: var(--flist-button-color);
  border: 1px solid var(--flist-button-border-color);
  border-radius: inherit !important;
  outline: none;
  margin: 0;
  padding: 0.25rem 0.5rem;
  cursor: var(--flist-button-cursor);
  background-color: var(--flist-button-bg-color, inherit);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease;
  user-select: none;
}

button:focus {
  box-shadow: 0 0 0 0.125rem rgba(0, 0, 0, 0.25);
}

:host([rounded]) {
  border-radius: 100px;
}

:host([disabled]) {
  opacity: 0.5;
}

:host([disabled]) button {
  cursor: not-allowed;
}

:host([disabled]) button,
:host([disabled]) button:hover {
  box-shadow: none;
}

:host button:hover:not(:disabled) {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

:host button:active:not(:disabled) {
  box-shadow: none;
}
